<div class="container register-company">
  <p class="h3">{{ titleRegister }}</p>
  <div class="alert alert-info" [innerHTML]="descriptionRegister"></div>
  <form [formGroup]="inscriptionForm" *ngIf="inscriptionForm" (ngSubmit)="updateCompany(mymodal)">
    <div class="form-group">
      <label for="idType">Naturaleza:*</label>
      <select name="idType" class="form-select form-select-lg form-control" formControlName="idType">
        <option selected value="juridica">Persona jurídica</option>
        <option value="natural">Persona natural</option>
      </select>
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('idType').errors">
      <span
        *ngIf="inscriptionForm.get('idType').hasError('required')"
        class="alert alert-warning"
      >
        El tipo de identificación es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('idType').hasError('validDocument')"
        class="alert alert-warning"
      >
        El tipo de identificación no es v&aacute;lido.
      </span>
    </div>
    <div class="form-group">
      <label for="id">Cédula:*</label>
      <input
        type="number"
        name="id"
        id="id"
        formControlName="id"
        class="form-control"
        placeholder=""
        maxlength="10"
        disabled="true"
      />
    </div>
    <div class="form-group">
      <label for="company-name">Nombre/Razón social:*</label>
      <input
        type="text"
        formControlName="companyName"
        name="company-name"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('companyName').errors">
      <span
        *ngIf="inscriptionForm.get('companyName').hasError('required')"
        class="alert alert-warning"
      >
        El nombre/razón social es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('companyName').hasError('validDocument')"
        class="alert alert-warning"
      >
        El nombre/razón social no es v&aacute;lido.
      </span>
    </div>
    <div class="form-group">
      <label for="first-name">Primer nombre:*</label>
      <input
        type="text"
        formControlName="firstName"
        name="first-name"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('firstName').errors">
      <span
        *ngIf="inscriptionForm.get('firstName').hasError('required')"
        class="alert alert-warning"
      >
        El primer nombre es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('firstName').hasError('validDocument')"
        class="alert alert-warning"
      >
        El primer nombre no es v&aacute;lido.
      </span>
    </div>
    <div class="form-group">
      <label for="second-name">Segundo nombre:</label>
      <input
        type="text"
        formControlName="secondName"
        name="second-name"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="first-lastname">Primer apellido:*</label>
      <input
        type="text"
        formControlName="firstLastName"
        name="first-lastname"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('firstLastName').errors">
      <span
        *ngIf="inscriptionForm.get('firstLastName').hasError('required')"
        class="alert alert-warning"
      >
        El primer apellido es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('firstLastName').hasError('validDocument')"
        class="alert alert-warning"
      >
        El primer apellido no es v&aacute;lido.
      </span>
    </div>
    <div class="form-group">
      <label for="second-lastname">Segundo apellido:</label>
      <input
        type="text"
        formControlName="secondLastName"
        name="second-lastname"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group">
      <label for="email">Email:*</label>
      <input
        type="email"
        formControlName="email"
        name="email"
        class="form-control"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('email').errors">
      <span
        *ngIf="inscriptionForm.get('email').hasError('required')"
        class="alert alert-warning"
      >
        El correo es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('email').hasError('validDocument')"
        class="alert alert-warning"
      >
        El correo no es v&aacute;lido.
      </span>
    </div>
    <!--div class="row mb-4">
      <div class="col-12 col-md-4">
        <label for="via">Via</label>
        <select
          name="via"
          class="form-select form-select-lg form-control"
          formControlName="via"
        >
          <option selected value="0">Carrera</option>
          <option value="1">Calle</option>
        </select>
      </div>
      <div class="col-3 col-md-1">
        <label for="number-one">Nro*</label>
        <input
          type="number"
          name="number-one"
          class="form-control"
          formControlName="numberOne"
          placeholder="43"
        />
      </div>
      <div class="col-3 col-md-1">
        <label for="letter-one">Letra</label>
        <input
          type="text"
          name="letter-one"
          class="form-control"
          formControlName="letterOne"
          placeholder="A"
        />
      </div>
      <div class="col-3 col-md-1">
        <label for="number-two">Nro*</label>
        <input
          type="number"
          name="number-two"
          class="form-control"
          formControlName="numberTwo"
          placeholder="1"
        />
      </div>
      <div class="col-3 col-md-1">
        <label for="letter-two">Letra</label>
        <input
          type="text"
          name="letter-two"
          formControlName="letterTwo"
          class="form-control"
        />
      </div>
      <div class="col-12 col-md-4">
        <label for="complement-number">Nro y complementos*</label>
        <input
          type="number"
          name="complement-number"
          class="form-control"
          formControlName="complementNumber"
          placeholder="85 INT. 613"
        />
      </div>
    </div-->
    <div class="form-group">
      <label for="address">Dirección:*</label>
      <input
        type="text"
        name="address"
        class="form-control"
        formControlName="address"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('address').errors">
      <span
        *ngIf="inscriptionForm.get('address').hasError('required')"
        class="alert alert-warning"
      >
        La dirección es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('address').hasError('validDocument')"
        class="alert alert-warning"
      >
        La dirección no es v&aacute;lido.
      </span>
    </div>
    <div class="form-group">
      <label for="municipality-of-the-address">Municipio:*</label>
      <input
        type="text"
        name="municipality-of-the-address"
        class="form-control"
        formControlName="municipality"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('municipality').errors">
      <span
        *ngIf="inscriptionForm.get('municipality').hasError('required')"
        class="alert alert-warning"
      >
        El municipio es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('municipality').hasError('validDocument')"
        class="alert alert-warning"
      >
        El municipio no es v&aacute;lido.
      </span>
    </div>
    <div class="form-group">
      <label for="phone">Teléfono 1:*</label>
      <input
        type="tel"
        name="phone"
        class="form-control"
        formControlName="phone"
        placeholder=""
      />
    </div>
    <div class="form-group" *ngIf="inscriptionForm.get('phone').errors">
      <span
        *ngIf="inscriptionForm.get('phone').hasError('required')"
        class="alert alert-warning"
      >
        El celular es requerido.
      </span>
      <span
        *ngIf="inscriptionForm.get('phone').hasError('validDocument')"
        class="alert alert-warning"
      >
        El celular no es v&aacute;lido.
      </span>
    </div>
    <div class="row mb-4">
      <div class="col-6">
        <button
          type="submit"
          class="btn btn-danger w-100"
        >Continuar</button>
      </div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-dark w-100"
          (click)="goBack()"
        >Regresar</button>
      </div>
    </div>
  </form>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Información</h4>
      <button
        type="button"
        class="btn btn-dark"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">Cerrar</span>
      </button>
    </div>
    <div class="modal-body">La empresa con el NIT {{company.id}} quedó actualizada</div>
  </ng-template>